<% if(success_msg!= '') { %>
<p style="color: white"><%=success_msg %></p>
<% } %> <% if(error_msg != '') { %> <%= error_msg %> <% } %> <% if(error != '')
{ %>
<p id="error" style="color: red"><%= error %></p>
<% } %>
