<%- include('./header.ejs') %>

<!-- banner -->
<section class="banner">
  <!-- banner text -->
  <div class="container container-fluid animate__animated animate__fadeInLeft">
    <div class="banner_text_wthree_pvt row col">
      <div class="house col-md-6 col-lg-6">
        <h3 class="home-banner-w3">Ideal Assignments Help</h3>

        <p class="bnr-txt">
          Idealassignmentshelp: Your One Stop Solution And Online Assignment
          Help You Can Trust
        </p>
      </div>
      <%- include('./nav_submit_form.ejs') %>
    </div>
  </div>
  <!-- //banner text -->
  <!-- banner-bottom -->
  <div class="banner-bottom-w3ls animate__animated animate__bounce">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-6">
          <div class="bb-img">
            <img src="images/a2.jpg" class="img-fluid img-thumbnail" alt="" />
            <h3>
              <span> <strong>Submit Questions</strong> </span>
            </h3>
          </div>
        </div>
        <div class="col-sm-4 col-6">
          <div class="bb-img">
            <img src="images/a11.jpg" class="img-fluid img-thumbnail" alt="" />
            <h3>
              <span> <strong> Pay for Assignments </strong> </span>
            </h3>
          </div>
        </div>
        <div class="col-sm-4 col-6 mx-auto mt-sm-0 mt-4">
          <div class="bb-img">
            <img src="images/a3.jpg" class="img-fluid img-thumbnail" alt="" />
            <h3>
              <span> <strong>Receive Solutions</strong> </span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //banner-bottom -->
  <div class="clearfix"></div>
</section>
<div class="clearfix"></div>
